<br><br>
<app-new-task></app-new-task>
<div class="currentTasksDiv">
  <ul id="rere">
    <li *ngFor="let task of taskService.tasks" class="hehe" (mouseenter)="taskExpiration.enterTask(task.deadline)" (mouseleave)="taskExpiration.leaveTask()">
      <div id={{task.id}}>{{task.description}} {{task.deadline}} {{task.id}}
      <button class="checkButton" (click)="completeTask(task, task.id)" title="task completed!">
        <img src="assets/images/check.PNG" width="30em" height="30em" alt="error">
      </button><br>
      </div>
    </li>
  </ul>
</div>
<app-task-expiration></app-task-expiration>


