.input {
  margin-top: -1%;
  font-size: 1.4em;
  width: 12%;
  cursor: url("src/assets/images/pen.PNG"), auto;
}

.inputDiv {
  margin-left: 12%;
  caret-color: darkred;
}

.addButton, .saveButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-top: -10%;
  margin-left: 35%;
}

.addButton:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

.saveButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-top: -10%;
  margin-left: 0;
}

.saveButton:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}


