body {
  background-image: url("assets/images/background.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.content {
  text-decoration: none;
  background-color: burlywood;
  font-size: 2em;
  margin-top: 30%;
  margin-left: 25%;
  color: darkred;
}

.content:hover {
  background-color: darkred;
  color: burlywood;
}

#doneTasks {
  margin-left: 35%;
}

